In [1]:
import pandas as pd
import numpy as np

In [2]:
path = 'C:/Users/ah3wj/Desktop/epi-segmentation/'
df = pd.read_csv(path + 'covid-19-dataset/us-counties.csv')

In [3]:
df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [4]:
df.state.head()

0    Washington
1    Washington
2    Washington
3      Illinois
4    Washington
Name: state, dtype: object

In [7]:
df['date'] = df['date'].astype('datetime64[ns]')

In [8]:
df.sort_values(by = ['date'], inplace = True, ascending = True)

In [9]:
all_dates = df.date.unique()
print(len(all_dates))

94

In [10]:
all_states = df.state.unique()
print(len(all_states))

56

In [11]:
def preprocess(lookup, resolution):
  with open(path + 'covid-19-dataset/processed-data/processed-us-states-' + lookup + '.csv', 'w+') as lookup_file:

    with open(path + 'covid-19-dataset/processed-data/us-states-order.csv', 'w+')  as order_file:

      for state in all_states:
        print(state + '\n', end='')
        order_file.write(state + '\n')

        for date in all_dates:
          filter1 = df[resolution] == state
          filter2 =  df['date'] == date

          if((filter1 & filter2).any()):
            value = df.loc[filter1 & filter2][lookup].to_string(index=False)
          else:
            value = '0'

          if(date == all_dates[-1]):
            print(value , end='')
            lookup_file.write(value)
          else:
            print(value + ', ', end='')
            lookup_file.write(value + ', ')

        print('\n')
        lookup_file.write('\n')

In [12]:
########################### careful here 

lookup = 'cases'
resolution = 'state'

preprocess(lookup= lookup, resolution = resolution)

Washington
 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  5,  5,  5,  5,  7,  10,  17,  23,  32,  47,  75,  86,  110,  141,  179,  279,  338,  419,  511,  609,  675,  794,  908,  1026,  1228,  1404,  1655,  1844,  2101,  2469,  2585,  3208,  3770,  4311,  4896,  5179,  5292,  5588,  6585,  6966,  7498,  7984,  8384,  8682,  9097,  9608,  9887,  10224,  10411,  10538,  10694,  10783,  11152,  11445,  11802,  11805,  12191,  12345,  12539,  12906

Illinois
0, 0, 0,  1,  1,  1,  1,  1,  1,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  3,  3,  4,  4,  4,  5,  6,  6,  7,  11,  19,  25,  32,  46,  66,  94,  104,  159,  286,  420,  583,  751,  1047,  1285,  1535,  1875,  2538,  3029,  3547,  4613,  5070,  5994,  6980,  7695,  8904,  10357,  11276,  12262,  13549,  15078,  16422,  17887,  19180,  20852,  22025,  23247,  24593,  25734,  27575,  29160,  30357,  31508,  33059,  35108,  36935

California
0, 0, 0, 0,  1,  2,  2,  2,  2,  2,  3,  3,  6,  6,  6,  6,  6,  6,  6,  6,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  8,  9,  9,  9,  11,  11,  26,  26,  27,  28,  33,  38,  45,  55,  67,  81,  100,  112,  172,  179,  202,  252,  320,  381,  478,  588,  732,  893,  1067,  1283,  1544,  1851,  2240,  2644,  3183,  4060,  4914,  5565,  6266,  7421,  8582,  9816,  11190,  12569,  13796,  15076,  16284,  17540,  19043,  20191,  21366,  22421,  23323,  24334,  25758,  27107,  28142,  29398,  30829,  31544,  33862,  35844,  37573,  39534

Arizona
0, 0, 0, 0, 0,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  2,  2,  3,  5,  5,  6,  6,  9,  9,  9,  12,  13,  18,  20,  28,  47,  70,  104,  153,  234,  326,  402,  508,  665,  773,  929,  1169,  1298,  1413,  1600,  1769,  2019,  2269,  2465,  2575,  2726,  3018,  3112,  3393,  3539,  3702,  3806,  3962,  4234,  4507,  4719,  4929,  5064,  5251,  5459,  5769

Massachusetts
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  2,  2,  3,  8,  13,  28,  41,  92,  95,  108,  123,  138,  164,  197,  218,  256,  328,  413,  525,  646,  777,  1159,  1838,  2417,  3240,  4257,  4955,  5752,  6620,  7738,  8966,  10402,  11736,  12500,  13837,  15202,  16790,  18941,  20974,  22860,  25475,  26867,  28163,  29918,  32181,  34402,  36372,  38077,  39643,  41199,  42944,  46023

Wisconsin
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  3,  6,  8,  19,  27,  33,  47,  72,  106,  155,  216,  281,  382,  418,  481,  623,  754,  930,  1042,  1120,  1267,  1351,  1550,  1730,  1916,  2112,  2267,  2440,  2578,  2756,  2885,  3068,  3213,  3341,  3428,  3555,  3721,  3875,  4045,  4199,  4346,  4499,  4620,  4845,  5052

Texas
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  2,  2,  2,  2,  2,  2,  2,  2,  4,  4,  4,  10,  10,  10,  10,  11,  11,  11,  11,  11,  12,  16,  19,  19,  23,  24,  31,  33,  41,  58,  69,  80,  87,  106,  166,  248,  377,  547,  632,  728,  857,  1119,  1543,  1942,  2161,  2712,  3043,  3576,  4261,  4880,  5669,  6566,  7091,  8104,  8968,  9897,  11372,  12290,  13208,  13776,  14487,  15303,  16106,  16928,  18131,  18927,  19441,  20035,  20949,  21769,  22706

Nebraska
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  10,  10,  10,  11,  11,  11,  11,  12,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  14,  14,  16,  16,  17,  23,  24,  27,  29,  31,  33,  36,  43,  47,  53,  61,  62,  73,  77,  84,  92,  100,  122,  137,  185,  193,  249,  273,  296,  339,  377,  438,  490,  538,  594,  679,  719,  806,  871,  931,  995,  1094,  1216,  1348,  1474,  1648,  1727,  1827,  2191

Utah
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  3,  3,  3,  3,  4,  5,  7,  7,  21,  29,  40,  51,  65,  80,  112,  138,  182,  257,  298,  346,  402,  480,  608,  719,  806,  887,  1012,  1074,  1260,  1428,  1605,  1675,  1752,  1875,  1980,  2103,  2206,  2303,  2363,  2418,  2549,  2683,  2813,  2942,  3071,  3213,  3301,  3451,  3621

Oregon
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  2,  2,  2,  2,  2,  2,  6,  13,  13,  14,  20,  30,  30,  36,  39,  46,  66,  74,  87,  114,  137,  161,  191,  209,  266,  316,  414,  479,  548,  606,  690,  736,  826,  899,  999,  1068,  1132,  1181,  1239,  1321,  1371,  1447,  1527,  1584,  1633,  1663,  1736,  1785,  1844,  1910,  1956,  2002,  2059,  2127

Rhode Island
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  2,  2,  2,  2,  2,  3,  3,  3,  3,  5,  5,  5,  20,  20,  20,  21,  23,  33,  44,  44,  66,  83,  106,  124,  132,  165,  203,  239,  294,  408,  488,  566,  657,  711,  806,  922,  1082,  1229,  1450,  1727,  2015,  2349,  2665,  2976,  3251,  3529,  3838,  4177,  4491,  4706,  5090,  5500,  5841,  6256

New York
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  2,  11,  22,  44,  89,  106,  142,  173,  217,  326,  421,  610,  732,  950,  1374,  2382,  4152,  7102,  10356,  15168,  20875,  25665,  33066,  38987,  44635,  53363,  59568,  67174,  75832,  83889,  92770,  102870,  114996,  122911,  130703,  140081,  149401,  159937,  170512,  180458,  188694,  195031,  202208,  213779,  222284,  229642,  236763,  242817,  247543,  251720,  257246,  263460

Florida
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  2,  2,  3,  3,  4,  7,  12,  13,  14,  23,  26,  46,  70,  70,  109,  141,  210,  326,  434,  564,  764,  1000,  1222,  1467,  1965,  2477,  3198,  4038,  4942,  5694,  6741,  7765,  9000,  10260,  11537,  12342,  13621,  14739,  15690,  16819,  17960,  18978,  19855,  21011,  21620,  22526,  23332,  24745,  25484,  26306,  27050,  27861,  28301,  29640

New Hampshire
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  2,  2,  2,  2,  4,  4,  4,  5,  5,  6,  7,  7,  13,  17,  26,  39,  44,  55,  65,  78,  101,  108,  137,  158,  187,  214,  258,  314,  367,  415,  479,  540,  621,  669,  715,  747,  788,  819,  885,  929,  985,  1020,  1091,  1139,  1211,  1287,  1342,  1392,  1447,  1491,  1588,  1670

Georgia
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  2,  2,  2,  2,  3,  7,  11,  17,  22,  31,  31,  41,  65,  97,  118,  142,  193,  282,  482,  552,  620,  800,  1097,  1387,  1643,  2198,  2447,  2683,  3032,  4117,  4748,  5444,  5967,  6383,  6742,  7558,  9156,  10204,  10885,  11859,  12261,  12103,  13125,  13913,  14583,  15644,  16658,  17014,  17619,  18447,  19189,  20099,  20905

North Carolina
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  1,  2,  2,  2,  7,  7,  8,  16,  18,  25,  32,  34,  42,  66,  104,  144,  184,  269,  303,  399,  563,  638,  783,  972,  1167,  1304,  1528,  1582,  1857,  2093,  2402,  2585,  2870,  3220,  3423,  3651,  3906,  4310,  4520,  4788,  4992,  5123,  5463,  5859,  6140,  6493,  6764,  6951,  7220,  7608

New Jersey
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  2,  4,  4,  6,  11,  15,  23,  29,  50,  75,  98,  176,  268,  427,  735,  896,  1336,  1914,  2844,  3675,  4402,  6876,  8825,  11124,  13386,  16636,  18696,  22255,  25590,  29895,  34124,  37505,  41090,  44416,  47437,  51027,  54588,  58151,  61850,  64584,  68824,  71030,  75317,  78467,  81420,  85301,  88806,  92387,  95865,  99989

Tennessee

0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  1,  3,  4,  7,  8,  18,  26,  32,  39,  52,  73,  98,  155,  237,  312,  424,  522,  679,  806,  981,  1180,  1364,  1570,  1721,  2049,  2690,  2869,  3032,  3265,  3538,  3753,  4010,  4246,  4456,  4793,  4983,  5144,  5483,  5654,  5878,  6090,  6438,  6637,  6845,  7015,  7341,  7704,  8230

Maryland
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  3,  3,  3,  5,  6,  9,  13,  13,  18,  27,  32,  39,  57,  85,  108,  150,  195,  245,  290,  349,  423,  581,  775,  1066,  1244,  1414,  1662,  1985,  2331,  2758,  3125,  3609,  4045,  4371,  5529,  6185,  6968,  7694,  8225,  8936,  9472,  10032,  10784,  11572,  12308,  12830,  13684,  14193,  14775,  15737

Colorado
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  2,  8,  8,  8,  12,  17,  34,  49,  78,  103,  136,  161,  183,  216,  278,  364,  475,  591,  721,  912,  1086,  1432,  1735,  2061,  2315,  2628,  2990,  3346,  3728,  4182,  4574,  4950,  5172,  5429,  5655,  6202,  6510,  6893,  7303,  7691,  7941,  8280,  8675,  9047,  9433,  9730,  10106,  10447,  10878,  11262

Nevada
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  2,  2,  2,  4,  4,  4,  7,  11,  19,  21,  26,  45,  55,  82,  99,  165,  165,  190,  265,  315,  405,  535,  621,  738,  920,  1044,  1113,  1279,  1458,  1549,  1758,  1880,  1971,  2101,  2318,  2456,  2606,  2720,  2860,  3036,  3137,  3212,  3321,  3524,  3626,  3741,  3830,  3937,  4081,  4208

Oklahoma
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  1,  1,  2,  2,  2,  3,  4,  8,  10,  18,  29,  44,  49,  53,  67,  81,  106,  164,  248,  322,  377,  429,  481,  566,  719,  879,  988,  1159,  1252,  1327,  1472,  1524,  1684,  1794,  1868,  1970,  2069,  2184,  2263,  2357,  2465,  2570,  2599,  2680,  2807,  2894,  3017

Pennsylvania
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  2,  4,  6,  10,  12,  16,  22,  41,  47,  68,  81,  101,  139,  187,  269,  388,  504,  644,  851,  1151,  1690,  2218,  2815,  3441,  4156,  4997,  5805,  7016,  8420,  10109,  11589,  13074,  14582,  16414,  18379,  20128,  21774,  22955,  24295,  25591,  26804,  28314,  30121,  31742,  32992,  34005,  35384,  36763,  38334

South Carolina
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  2,  2,  6,  7,  9,  10,  12,  13,  19,  28,  33,  47,  60,  81,  126,  172,  194,  299,  342,  424,  456,  539,  660,  774,  925,  1083,  1293,  1554,  1700,  1917,  2049,  2232,  2417,  2552,  2792,  3065,  3207,  3319,  3439,  3553,  3656,  3931,  4086,  4246,  4377,  4439,  4608,  4761,  4917

Hawaii
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  2,  2,  2,  2,  2,  2,  4,  7,  10,  14,  16,  26,  37,  48,  56,  77,  90,  95,  106,  120,  151,  175,  204,  224,  258,  283,  317,  349,  369,  385,  408,  433,  440,  463,  484,  497,  502,  511,  524,  535,  547,  568,  574,  578,  580,  586,  590

Indiana
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  2,  4,  6,  11,  12,  12,  15,  19,  24,  30,  39,  56,  79,  126,  201,  259,  366,  479,  656,  982,  1232,  1514,  1788,  2159,  2565,  3039,  3437,  3953,  4411,  4956,  5507,  5943,  6351,  6907,  7435,  7928,  8236,  8527,  8955,  9542,  10154,  10641,  11210,  11686,  12097,  12438,  13039

Kentucky
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  4,  5,  7,  7,  11,  11,  18,  21,  22,  26,  35,  47,  63,  84,  103,  124,  157,  198,  248,  302,  394,  439,  480,  590,  682,  755,  770,  917,  1048,  1057,  1289,  1393,  1525,  1702,  1851,  1963,  2048,  2210,  2295,  2429,  2522,  2707,  2960,  3050,  3193,  3373,  3548

Minnesota
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  2,  2,  3,  5,  9,  14,  21,  35,  54,  60,  77,  89,  115,  138,  171,  235,  262,  287,  346,  398,  441,  504,  576,  629,  689,  742,  789,  865,  935,  986,  1069,  1154,  1242,  1335,  1427,  1621,  1650,  1695,  1809,  1912,  2071,  2213,  2356,  2470,  2567,  2721,  2942

Vermont
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  1,  1,  2,  2,  2,  5,  8,  12,  14,  19,  22,  29,  49,  52,  75,  95,  123,  158,  184,  211,  235,  256,  293,  321,  338,  389,  461,  512,  543,  575,  605,  628,  679,  711,  727,  748,  752,  759,  768,  779,  803,  812,  816,  818,  823,  825

Virginia
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  2,  5,  8,  10,  17,  30,  42,  45,  51,  67,  78,  94,  115,  152,  219,  254,  290,  391,  604,  606,  740,  890,  1021,  1250,  1511,  1706,  2012,  2407,  2637,  2878,  3333,  3645,  4042,  4509,  5077,  5274,  5747,  6171,  6500,  6889,  7491,  8053,  8537,  8990,  9630,  10266,  11000

District of Columbia
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  4,  4,  10,  10,  10,  16,  17,  22,  31,  36,  39,  71,  77,  98,  116,  137,  183,  231,  267,  304,  342,  401,  495,  586,  653,  757,  902,  998,  1097,  1211,  1440,  1523,  1660,  1778,  1875,  1955,  2058,  2197,  2350,  2476,  2666,  2793,  2927,  3098,  3206,  3361

Kansas
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  1,  1,  1,  5,  6,  8,  9,  11,  17,  22,  35,  49,  57,  66,  82,  99,  132,  171,  212,  271,  332,  373,  434,  488,  554,  624,  701,  763,  853,  905,  1055,  1116,  1180,  1283,  1338,  1383,  1439,  1502,  1594,  1731,  1820,  1898,  2031,  2115,  2292,  2615

Missouri
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  1,  1,  1,  2,  4,  5,  5,  9,  16,  21,  35,  73,  93,  130,  183,  255,  377,  507,  671,  838,  903,  1050,  1351,  1581,  1834,  2113,  2291,  2367,  2722,  3037,  3327,  3539,  3799,  4024,  4160,  4388,  4686,  4895,  5111,  5283,  5517,  5667,  5807,  5941,  6137,  6321

Connecticut
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  2,  2,  3,  6,  11,  20,  26,  41,  68,  96,  159,  194,  223,  327,  415,  618,  875,  1012,  1291,  1524,  1993,  2571,  3128,  3557,  3824,  4915,  5276,  5675,  6906,  7781,  8781,  9784,  10538,  11510,  12035,  13381,  13989,  14755,  15884,  16809,  17550,  17962,  19815,  20360,  22469,  23100

Iowa
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  3,  8,  13,  14,  16,  17,  18,  22,  22,  29,  38,  44,  45,  68,  90,  105,  124,  145,  179,  235,  298,  336,  424,  498,  549,  614,  699,  786,  868,  946,  1048,  1145,  1270,  1388,  1510,  1587,  1710,  1899,  1995,  2141,  2332,  2513,  2915,  3175,  3641,  3764,  3939

Ohio
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  3,  3,  4,  5,  13,  26,  37,  50,  67,  90,  120,  169,  247,  351,  444,  564,  706,  867,  1144,  1406,  1665,  1933,  2199,  2547,  2902,  3312,  3739,  4043,  4450,  4782,  5148,  5512,  5878,  6250,  6604,  6975,  7280,  7791,  8414,  9107,  10222,  11602,  12919,  13725,  14117,  14694

Louisiana
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  6,  13,  14,  36,  77,  103,  137,  196,  280,  392,  537,  763,  837,  1172,  1388,  1795,  2305,  2746,  3315,  3540,  4025,  5237,  6424,  9150,  10297,  12496,  13010,  14867,  16284,  17030,  18283,  19253,  20014,  20595,  21016,  21518,  21951,  22532,  23118,  23580,  23928,  24523,  24854,  25258,  25739

South Dakota

0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  5,  8,  8,  9,  9,  9,  10,  11,  11,  14,  14,  14,  21,  28,  30,  41,  46,  58,  68,  90,  101,  108,  129,  165,  187,  212,  240,  288,  320,  393,  447,  536,  626,  730,  868,  988,  1168,  1311,  1411,  1542,  1635,  1685,  1755,  1858,  1956

Michigan
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  2,  2,  12,  25,  33,  53,  54,  65,  80,  334,  548,  787,  1033,  1324,  1791,  2294,  2878,  3657,  4635,  5486,  6508,  7630,  9293,  10791,  12670,  14225,  15635,  17130,  18852,  20220,  21375,  22646,  23853,  24494,  25487,  26844,  27893,  29119,  29952,  30717,  31348,  31927,  32935,  33929,  35252

New Mexico
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  4,  6,  10,  13,  17,  21,  23,  28,  35,  43,  57,  65,  83,  100,  112,  136,  191,  208,  237,  281,  315,  363,  403,  495,  543,  624,  686,  794,  865,  989,  1091,  1174,  1245,  1345,  1407,  1484,  1597,  1711,  1798,  1845,  1971,  2072,  2210,  2379

North Dakota
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  1,  1,  1,  1,  5,  7,  19,  27,  28,  30,  32,  36,  45,  58,  68,  94,  98,  109,  126,  147,  159,  173,  186,  207,  225,  237,  251,  269,  278,  293,  308,  331,  341,  365,  393,  439,  528,  585,  627,  644,  679,  709

Wyoming
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  2,  3,  3,  10,  15,  17,  18,  22,  24,  26,  28,  37,  49,  56,  73,  84,  87,  95,  120,  137,  153,  166,  187,  200,  212,  221,  230,  239,  253,  261,  270,  275,  282,  288,  296,  305,  309,  313,  317,  322,  326,  332

Mississippi
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  6,  6,  10,  12,  21,  34,  50,  80,  140,  207,  249,  320,  377,  487,  579,  669,  759,  848,  937,  1073,  1177,  1358,  1455,  1638,  1738,  1915,  2003,  2260,  2469,  2642,  2781,  2942,  3087,  3360,  3624,  3793,  3974,  4274,  4512,  4716,  4894,  5153

Arkansas
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  6,  7,  9,  16,  22,  22,  33,  62,  100,  118,  165,  201,  232,  308,  351,  386,  409,  449,  508,  564,  624,  683,  738,  743,  853,  927,  997,  1077,  1146,  1202,  1228,  1280,  1475,  1498,  1599,  1620,  1695,  1777,  1781,  1971,  2262,  2392,  2599

Delaware
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  4,  4,  4,  7,  8,  16,  26,  30,  39,  45,  56,  87,  104,  119,  143,  165,  214,  232,  264,  319,  368,  393,  450,  593,  673,  783,  928,  1116,  1209,  1326,  1479,  1625,  1761,  1926,  2014,  2075,  2323,  2538,  2538,  2745,  2931,  3200,  3308

Alaska
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  1,  1,  3,  6,  9,  12,  14,  21,  22,  36,  42,  59,  69,  85,  102,  114,  119,  133,  143,  146,  156,  169,  185,  189,  211,  224,  233,  244,  255,  270,  275,  283,  291,  298,  307,  312,  317,  319,  327,  335,  337

Maine
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  2,  3,  12,  17,  32,  43,  52,  57,  70,  89,  107,  118,  142,  155,  168,  211,  253,  275,  303,  344,  376,  432,  456,  470,  499,  519,  537,  560,  586,  616,  633,  698,  734,  770,  796,  827,  847,  867,  875,  888,  907,  937

Puerto Rico
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  3,  4,  5,  5,  5,  5,  6,  14,  21,  23,  31,  39,  51,  64,  79,  100,  127,  174,  239,  286,  316,  378,  452,  475,  513,  573,  620,  683,  725,  788,  897,  903,  923,  974,  1043,  1068,  1118,  1213,  1252,  915,  915,  915

Montana
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  4,  6,  6,  8,  8,  12,  19,  19,  29,  34,  45,  51,  65,  90,  121,  147,  161,  177,  198,  217,  241,  262,  281,  298,  319,  319,  332,  354,  365,  377,  387,  394,  399,  404,  415,  422,  426,  433,  433,  437,  439,  442

Alabama
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  6,  12,  23,  29,  39,  51,  78,  106,  131,  157,  196,  242,  386,  538,  639,  720,  830,  947,  999,  1106,  1270,  1535,  1633,  1841,  2006,  2197,  2499,  2838,  3008,  3262,  3583,  3805,  3953,  4241,  4404,  4572,  4723,  4903,  5078,  5327,  5610,  5832

Idaho
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  5,  5,  5,  9,  11,  23,  31,  42,  47,  50,  73,  123,  189,  231,  261,  310,  415,  526,  669,  891,  1013,  1077,  1101,  1170,  1210,  1232,  1353,  1397,  1407,  1426,  1453,  1464,  1507,  1528,  1566,  1577,  1581,  1638,  1659,  1688,  1721

Virgin Islands
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  2,  2,  3,  3,  6,  6,  17,  17,  17,  17,  17,  19,  19,  23,  30,  30,  30,  37,  38,  42,  42,  43,  45,  45,  46,  46,  51,  51,  51,  51,  51,  51,  51,  53,  53,  54,  54,  54,  54

Guam
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  3,  3,  3,  8,  12,  14,  15,  27,  29,  32,  32,  49,  53,  57,  58,  60,  139,  147,  152,  154,  223,  265,  266,  274,  409,  542,  577,  681,  716,  719,  721,  750,  790,  796,  805,  808,  811,  852,  911,  975

West Virginia
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  2,  5,  8,  12,  16,  16,  39,  51,  76,  96,  113,  124,  145,  162,  191,  217,  242,  282,  324,  345,  412,  483,  524,  537,  593,  615,  638,  697,  725,  739,  776,  825,  890,  908,  929,  939,  981

Northern Mariana Islands
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  2,  2,  2,  2,  6,  8,  8,  8,  8,  8,  8,  11,  11,  11,  11,  11,  11,  13,  13,  13,  14,  14,  14,  14,  14,  14,  14

American Samoa
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0

**Now Time to Verify**

In [119]:
filename = path + 'covid-19-data/processed-data/processed-us-states-' + lookup + '.csv'
verification = np.loadtxt(filename, dtype=int, delimiter=',')

print(verification)

[[   0    0    0 ...  683  696  717]
 [   0    0    0 ... 1479 1577 1696]
 [   0    0    0 ... 1316 1425 1553]
 ...
 [   0    0    0 ...   26   29   31]
 [   0    0    0 ...    2    2    2]
 [   0    0    0 ...    0    0    0]]

In [120]:
flag = False

for i in range(len(verification)):

  if(flag):
    break
    
  state = all_states[i]   
#   print(state)
  for j in range(len(verification[i])):
    if(verification[i][j] != 0):
      date = all_dates[j]

#       print(date)
      
      df_of_state = df[df[resolution]== state]
      df_of_time = df_of_state[df_of_state['date'] == date]
      value = int(df_of_time[lookup].to_string(index=False))
      
      assert value == verification[i][j]
      if( value != verification[i][j]):
        print("Doesn't match", state, date)
        print('verif index: ', j, 'value: ', verification[i][j])
        print('actual: ', value)
        flag = True
        break

In [23]:
states_order = pd.read_csv(path+'covid-19-dataset/processed-data/us-states-order.csv', header=None)
data = pd.read_csv(path+'covid-19-dataset/processed-data/processed-us-states-cases.csv', header=None)

In [28]:
states_order.head()

               0
0     Washington
1       Illinois
2     California
3        Arizona
4  Massachusetts

In [29]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,84,85,86,87,88,89,90,91,92,93
0,1,1,1,1,1,1,1,1,1,1,...,10694,10783,11152,11445,11802,11805,12191,12345,12539,12906
1,0,0,0,1,1,1,1,1,1,2,...,23247,24593,25734,27575,29160,30357,31508,33059,35108,36935
2,0,0,0,0,1,2,2,2,2,2,...,25758,27107,28142,29398,30829,31544,33862,35844,37573,39534
3,0,0,0,0,0,1,1,1,1,1,...,3806,3962,4234,4507,4719,4929,5064,5251,5459,5769
4,0,0,0,0,0,0,0,0,0,0,...,28163,29918,32181,34402,36372,38077,39643,41199,42944,46023

In [24]:
frames = [states_order, data]

In [32]:
result = pd.concat(frames, axis = 1)

In [33]:
result.head()

,0,0,1,2,3,4,5,6,7,8,...,84,85,86,87,88,89,90,91,92,93
0,Washington,1,1,1,1,1,1,1,1,1,...,10694,10783,11152,11445,11802,11805,12191,12345,12539,12906
1,Illinois,0,0,0,1,1,1,1,1,1,...,23247,24593,25734,27575,29160,30357,31508,33059,35108,36935
2,California,0,0,0,0,1,2,2,2,2,...,25758,27107,28142,29398,30829,31544,33862,35844,37573,39534
3,Arizona,0,0,0,0,0,1,1,1,1,...,3806,3962,4234,4507,4719,4929,5064,5251,5459,5769
4,Massachusetts,0,0,0,0,0,0,0,0,0,...,28163,29918,32181,34402,36372,38077,39643,41199,42944,46023

In [37]:
correct_format = result.T

In [40]:
correct_format.to_csv(path+'covid-19-dataset/processed-data/correct-state-cases.csv', header = False, index = False)

In [42]:
adj = pd.read_csv(path + 'covid-19-dataset/processed-data/us-adj.csv', header=None)

In [43]:
adj.head()

,0,1,2,3,4,5,6,7,8,9
0,Alaska,Alaska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabama,Alabama,Mississippi,Tennessee,Georgia,Florida,NaN,NaN,NaN,NaN
2,Arkansas,Arkansas,Missouri,Tennessee,Mississippi,Louisiana,Texas,Oklahoma,NaN,NaN
3,Arizona,Arizona,California,Nevada,Utah,Colorado,New Mexico,NaN,NaN,NaN
4,California,California,Oregon,Nevada,Arizona,NaN,NaN,NaN,NaN,NaN

In [44]:
states = adj.iloc[:, 0]

In [54]:
states.to_list()

['Alaska',
 'Alabama',
 'Arkansas',
 'Arizona',
 'California',
 'Colorado',
 'Connecticut',
 'DC',
 'Delaware',
 'Florida',
 'Georgia',
 'Hawaii',
 'Iowa',
 'Idaho',
 'Illinois',
 'Indiana',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Massachusetts',
 'Maryland',
 'Maine',
 'Michigan',
 'Minnesota',
 'Missouri',
 'Mississippi',
 'Montana',
 'North Carolina',
 'North Dakota',
 'Nebraska',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'Nevada',
 'New York',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Virginia',
 'Vermont',
 'Washington',
 'Wisconsin',
 'West Virginia',
 'Wyoming']

In [48]:
correct_format = pd.read_csv(path+'covid-19-dataset/processed-data/correct-state-cases.csv')

In [56]:
final_data = correct_format[ states.to_list() ]

In [58]:
final_data.to_csv(path+'covid-19-dataset/processed-data/final-us-state-cases.csv', index=False)